@font-face {
    font-family: QuickSand;
    src: url('../Quicksand_Book.otf')
}

@font-face {
    font-family: QuickSandBold;
    src: url('../Quicksand_Bold.otf')
}

body {
    background-image: url('../UserQuest/Forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.profile {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 75px;
    font-family: QuickSandBold;
    color: cornsilk;
    background-color: seagreen;
    box-shadow: 3px 3px 5px black;
}

h2 {
    float: left;
    margin-top: 10px;
    font-size: 50pt;
}

.stored {
    float: right;
    margin-top: 5px;
    margin-right: 50px;
}

#name {
    display: inline-flex;
    font-size: 15pt;
    margin-bottom: 5px;
}

#hp {
    display: inline-flex;
    margin-bottom: 3px;
}

#gil {
    display: inline-flex;
    margin-bottom: 3px;
}

#tapes {
    display: inline-flex;
    margin-bottom: 3px;
}


#position {
    position: relative;
}

img {
    position: fixed;
    left: 85px;
    top: 120px;
    height: 550px;
    border: solid 3pt gold;
    z-index: -1;
}

.quest {
    float: left;
    height: 68px;
    width: 100px;
    padding-top: 32px;
    text-align: center;
    border: solid 1px black;
    font-size: 15pt;
    font-family: QuickSand;
    border-radius: 100px;
    background-color: seagreen;
    box-shadow: 5px 5px 10px #202020;
    color: cornsilk;
    text-decoration: none;
    transition: transform 1s;
}

.completed {
    float: left;
    height: 55px;
    width: 100px;
    padding-top: 45px;
    text-align: center;
    border: solid 1px dimgray;
    font-size: 10pt;
    font-family: QuickSand;
    border-radius: 100px;
    background: rgba(133, 133, 133, 0.5);
    color: cornsilk;
    text-decoration: none;
}

.quest:hover {
    transform: scale(1.1);
}